JARVIS_STT_URL=
JARVIS_TTS_URL=
JARVIS_REASONING_BACKEND=direct
JARVIS_REASONING_URL=
JARVIS_REASONING_MODEL=
JARVIS_REASONING_API_KEY_FILE=
JARVIS_N8N_WEBHOOK_URL=
JARVIS_N8N_API_KEY_FILE=
JARVIS_PIPER_VOICE=
JARVIS_ALLOWED_ORIGIN=
JARVIS_MAX_PAYLOAD_BYTES=
JARVIS_MAX_AUDIO_BYTES=
JARVIS_MAX_AUDIO_SECONDS=
JARVIS_MAX_TEXT_CHARS=
JARVIS_MAX_RESPONSE_CHARS=
JARVIS_MAX_CONCURRENT_TURNS=
JARVIS_RATE_LIMIT_REQUESTS=
JARVIS_RATE_LIMIT_WINDOW_SECONDS=
JARVIS_SESSION_TTL_SECONDS=
JARVIS_TURN_TTL_SECONDS=
JARVIS_MAX_SESSIONS=
JARVIS_MAX_TURNS=
JARVIS_MAX_AUDIO_STORE_BYTES=
JARVIS_UPSTREAM_TIMEOUT_SECONDS=
